@import "tailwindcss";

/*cores da identidade visual do AsiApp*/
@theme {
  --color-asi-blue: #1E6FEB;
  --color-asi-dark: #0B0F19;
}

/*estilos globais do app*/
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', 'Segoe UI', Roboto, Arial, sans-serif;
}
